/* -------------------------------- 

File#: _1_masonry
Title: Masonry
Descr: Gallery with elements laid out in optimal position based on available vertical space
Usage: codyhouse.co/license

-------------------------------- */
:root {
    --masonry-grid-gap: var(--space-sm);
    --masonry-col-auto-size: 100%;
}

.masonry__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--masonry-grid-gap));
    margin-bottom: calc(-1 * var(--masonry-grid-gap));
}

.masonry__item {
    display: inline-block;
    width: var(--masonry-col-auto-size);
    margin-right: var(--masonry-grid-gap);
    margin-bottom: var(--masonry-grid-gap);
}

.masonry__list {
    opacity: 0;
    transition: opacity 0.4s;
}

.masonry--loaded .masonry__loader {
    display: none;
}
.masonry--loaded .masonry__list {
    opacity: 1;
}

@supports (flex-basis: 0px) {
    .masonry__list {
        flex-direction: column;
    }
    .masonry__item {
        flex-basis: 0px;
    }
}

@media (min-width: 64rem) {
    :root {
        --masonry-grid-gap: var(--space-sm);
        --masonry-col-auto-size: 360px;
    }
    
    .masonry__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: calc(-1 * var(--masonry-grid-gap));
        margin-bottom: calc(-1 * var(--masonry-grid-gap));
    }
}


/* -------------------------------- 

File#: _2_article-v4
Title: Article v4
Descr: Article template
Usage: codyhouse.co/license

-------------------------------- */
.t-article-v4__divider {
    display: flex;
    align-items: center;
}
.t-article-v4__divider span {
    display: block;
    margin: 0 var(--space-xs);
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    background-color: var(--color-contrast-lower);
}
.t-article-v4__divider::before, .t-article-v4__divider::after {
    content: "";
    display: block;
    height: 1px;
    width: auto;
    flex-grow: 1;
    background-color: var(--color-contrast-lower);
}


/* -------------------------------- 

File#: _1_modal-window
Title: Modal Window
Descr: A modal dialog used to display critical information
Usage: codyhouse.co/license

-------------------------------- */
.modal {
    position: fixed;
    z-index: var(--z-index-overlay, 15);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal:not(.modal--is-visible) {
    pointer-events: none;
    background-color: transparent;
}

.modal--is-visible {
    opacity: 1;
    visibility: visible;
}

/* close buttons */
.modal__close-btn {
    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
    transition: 0.2s;
}
.modal__close-btn .icon {
    display: block;
    margin: auto;
}

.modal__close-btn--outer { /* close button - outside the modal__content */
    --size: 48px;
    width: var(--size);
    height: var(--size);
    position: fixed;
    top: var(--space-sm);
    right: var(--space-sm);
    z-index: var(--z-index-fixed-element, 10);
    background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.9);
    transition: 0.2s;
}
.modal__close-btn--outer .icon {
    color: var(--color-white); /* icon color */
    transition: transform 0.3s var(--ease-out-back);
}
.modal__close-btn--outer:hover {
    background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 1);
}
.modal__close-btn--outer:hover .icon {
    transform: scale(1.1);
}

.modal__close-btn--inner { /* close button - inside the modal__content */
    --size: 32px;
    width: var(--size);
    height: var(--size);
    background-color: var(--color-bg-light);
    box-shadow: var(--inner-glow), var(--shadow-sm);
    transition: 0.2s;
}
.modal__close-btn--inner .icon {
    color: inherit; /* icon color */
}
.modal__close-btn--inner:hover {
    background-color: var(--color-bg-lighter);
    box-shadow: var(--inner-glow), var(--shadow-md);
}

/* animations */
:root {
    --modal-transition-duration: 0.2s; /* fallback (i.e., unless specified differently in the variations 👇) */
}

@media (prefers-reduced-motion: no-preference) {
    .modal--animate-fade {
        --modal-transition-duration: 0.2s;
        transition: opacity var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s var(--modal-transition-duration);
    }
    .modal--animate-fade.modal--is-visible {
        transition: opacity var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s;
    }
    .modal--animate-scale,
    .modal--animate-translate-up,
    .modal--animate-translate-down,
    .modal--animate-translate-right,
    .modal--animate-translate-left {
        --modal-transition-duration: 0.2s;
        transition: opacity var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s var(--modal-transition-duration);
    }
    .modal--animate-scale .modal__content,
    .modal--animate-translate-up .modal__content,
    .modal--animate-translate-down .modal__content,
    .modal--animate-translate-right .modal__content,
    .modal--animate-translate-left .modal__content {
        will-change: transform;
        transition: transform var(--modal-transition-duration) var(--ease-out);
    }
    .modal--animate-scale.modal--is-visible,
    .modal--animate-translate-up.modal--is-visible,
    .modal--animate-translate-down.modal--is-visible,
    .modal--animate-translate-right.modal--is-visible,
    .modal--animate-translate-left.modal--is-visible {
        transition: opacity var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s;
    }
    .modal--animate-scale.modal--is-visible .modal__content,
    .modal--animate-translate-up.modal--is-visible .modal__content,
    .modal--animate-translate-down.modal--is-visible .modal__content,
    .modal--animate-translate-right.modal--is-visible .modal__content,
    .modal--animate-translate-left.modal--is-visible .modal__content {
        transform: scale(1); /* reset all transformations */
    }
    .modal--animate-slide-up,
    .modal--animate-slide-down,
    .modal--animate-slide-right,
    .modal--animate-slide-left {
        --modal-transition-duration: 0.3s;
        transition: opacity 0s var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s var(--modal-transition-duration);
    }
    .modal--animate-slide-up .modal__content,
    .modal--animate-slide-down .modal__content,
    .modal--animate-slide-right .modal__content,
    .modal--animate-slide-left .modal__content {
        will-change: transform;
        transition: transform var(--modal-transition-duration) var(--ease-out);
    }
    .modal--animate-slide-up.modal--is-visible,
    .modal--animate-slide-down.modal--is-visible,
    .modal--animate-slide-right.modal--is-visible,
    .modal--animate-slide-left.modal--is-visible {
        transition: background-color var(--modal-transition-duration), visibility 0s;
    }
    .modal--animate-slide-up.modal--is-visible .modal__content,
    .modal--animate-slide-down.modal--is-visible .modal__content,
    .modal--animate-slide-right.modal--is-visible .modal__content,
    .modal--animate-slide-left.modal--is-visible .modal__content {
        transform: scale(1); /* reset all transformations */
    }
    /* scale */
    .modal--animate-scale .modal__content {
        transform: scale(0.95);
    }
    /* translate */
    .modal--animate-translate-up .modal__content {
        transform: translateY(40px);
    }
    .modal--animate-translate-down .modal__content {
        transform: translateY(-40px);
    }
    .modal--animate-translate-right .modal__content {
        transform: translateX(-40px);
    }
    .modal--animate-translate-left .modal__content {
        transform: translateX(40px);
    }
    /* slide */
    .modal--animate-slide-up .modal__content {
        transform: translateY(100%);
    }
    .modal--animate-slide-down .modal__content {
        transform: translateY(-100%);
    }
    .modal--animate-slide-right .modal__content {
        transform: translateX(-100%);
    }
    .modal--animate-slide-left .modal__content {
        transform: translateX(100%);
    }
}
/* load content - optional */
.modal--is-loading .modal__content {
    visibility: hidden;
}
.modal--is-loading .modal__loader {
    display: flex;
}

.modal__loader { /* loader icon */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    pointer-events: none;
}

/* --image */
.modal-img-btn {
    position: relative;
    cursor: pointer;
}
.modal-img-btn::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0);
    transition: background 0.2s;
}
.modal-img-btn:hover::after {
    background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.7);
}
.modal-img-btn:hover .modal-img-btn__icon-wrapper {
    opacity: 1;
}

.modal-img-btn__icon-wrapper {
    position: absolute;
    z-index: 2;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.7);
    opacity: 0;
    transition: opacity 0.2s;
}
.modal-img-btn__icon-wrapper .icon {
    color: var(--color-white);
}

/* -------------------------------- 

File#: _1_smooth-scrolling
Title: Smooth Scrolling
Descr: Replace the default browser behaviour (jump) with a smooth scrolling transition
Usage: codyhouse.co/license

-------------------------------- */
html {
    scroll-behavior: smooth;
}


/* -------------------------------- 

File#: _2_table-of-contents
Title: Table of Contents
Descr: A navigation with a list of links to the main sections of the page 
Usage: codyhouse.co/license

-------------------------------- */
:root {
    --toc-border-width: 1px; /* static version only */
}

/* #region (style affecting collapsed + static versions) 👇 */
.toc__list {
    position: relative;
}
.toc__list .toc__list .toc__link {
    padding-left: calc(var(--space-sm) * 2); /* offset sub nav */
}

.toc__link,
.toc__label {
    padding: var(--space-3xs) var(--space-sm);
}

.toc__link {
    position: relative;
    color: var(--color-contrast-medium);
    text-decoration: none;
}
.toc__link::before { /* left mark */
    content: "";
    width: var(--toc-border-width);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.toc__link:hover {
    color: var(--color-contrast-high);
}

.toc__link--selected {
    color: var(--color-primary);
}
.toc__link--selected:hover {
    color: var(--color-primary);
}

.toc__label { /* label style */
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--text-sm);
}

.toc__control { /* control button */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toc__control-text { /* text inside control button */
    position: relative;
}
.toc__control-text > * {
    display: inline-block;
    transition: opacity 0.4s, transform 0.4s var(--ease-out);
}
.toc__control-text > *:last-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
}

.toc__icon-arrow { /* arrow icon  */ }
.toc__icon-arrow .icon__group {
    will-change: transform;
    transform-origin: 8px 8px;
    transition: transform 0.3s var(--ease-out);
}
.toc__icon-arrow .icon__group > * {
    transform-origin: 8px 8px;
    stroke-dasharray: 17;
    transform: translateY(3px);
    transition: transform 0.3s, stroke-dashoffset 0.3s;
    transition-timing-function: var(--ease-out);
}
.toc__icon-arrow .icon__group > *:first-child {
    stroke-dashoffset: 10;
}
.toc__icon-arrow .icon__group > *:last-child {
    stroke-dashoffset: 10;
}

.toc-content__target {
    scroll-margin-top: var(--space-4xs);
}

/* #endregion */
/* #region (collapsed version only - mobile 👇) */
.toc:not(.toc--static) {
    border-radius: var(--radius-md);
    background-color: var(--color-bg-light);
    box-shadow: var(--inner-glow), var(--shadow-sm);
    transition: 0.3s;
}
.toc:not(.toc--static):hover {
    box-shadow: var(--inner-glow), var(--shadow-md);
}
.toc:not(.toc--static) .toc__nav { /* navigation */
    display: none;
    margin: var(--space-2xs) 0;
}
.toc:not(.toc--static) .toc__list {
    padding-bottom: var(--space-xs);
}
.toc:not(.toc--static) .toc__label {
    display: none;
}
.toc:not(.toc--static) .toc__link {
    display: flex;
}
.toc:not(.toc--static).toc--expanded .toc__control-text > *:first-child {
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
}
.toc:not(.toc--static).toc--expanded .toc__control-text > *:last-child {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.toc:not(.toc--static).toc--expanded .toc__nav {
    display: block;
    animation: toc-entry-animation 0.4s var(--ease-out);
}
.toc:not(.toc--static).toc--expanded .toc__icon-arrow .icon__group { /* animate arrow icon */
    transform: rotate(-90deg);
}
.toc:not(.toc--static).toc--expanded .toc__icon-arrow .icon__group > *:first-child, .toc:not(.toc--static).toc--expanded .toc__icon-arrow .icon__group *:last-child {
    stroke-dashoffset: 0;
    transform: translateY(0px);
}

/* #endregion */
/* #region (static version only - desktop 👇) */
.toc--static {
    box-shadow: inset var(--toc-border-width) 0 0 var(--color-contrast-lower); /* left border */
}
.toc--static[class*=position-sticky] {
    top: var(--space-md); /* used if position = sticky */
    max-height: calc(100vh - var(--space-md) * 2); /* set max height */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.toc--static .toc__label {
    font-size: var(--text-xs);
}
.toc--static .toc__link {
    display: inline-flex;
    font-size: var(--text-sm);
}
.toc--static .toc__link--selected::before {
    background-color: var(--color-primary);
}
.toc--static .toc__control { /* control - static version only */
    display: none;
}

.toc-content--toc-static *:target {
    animation: toc-target 2s; /* highlight section on target */
}

/* #endregion */
@keyframes toc-target {
    0%, 50% {
        outline: 2px solid hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.5);
    }
    100% {
        outline: 2px solid hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0);
    }
}
@keyframes toc-entry-animation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* used in JS - detect when the TOC needs to switch from a collapsed to a static version */
[class*=toc--static]::before {
    display: none;
    content: "collapsed";
}

@media (min-width: 32rem) {
    .toc--static\@xs::before {
        content: "static";
    }
}
@media (min-width: 48rem) {
    .toc--static\@sm::before {
        content: "static";
    }
}
@media (min-width: 64rem) {
    .toc--static\@md::before {
        content: "static";
    }
}
@media (min-width: 80rem) {
    .toc--static\@lg::before {
        content: "static";
    }
}
@media (min-width: 90rem) {
    .toc--static\@xl::before {
        content: "static";
    }
}


/* -------------------------------- 

File#: _1_accordion
Title: Accordion
Descr: Create stacked sections of content and allow the user to expand/collapse them
Usage: codyhouse.co/license

-------------------------------- */
:root {
    /* general */
    --accordion-border-width: 1px;
    /* icon */
    --accordion-icon-size: 20px;
    --accordion-icon-stroke-width: 2px;
}

.accordion__item {
    border-style: solid;
    border-color: var(--color-contrast-lower);
    border-bottom-width: var(--accordion-border-width);
}
.accordion__item:first-child {
    border-top-width: var(--accordion-border-width);
}

.accordion__header { /* button */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
}
.accordion__header .icon {
    --size: var(--accordion-icon-size);
}
.accordion__header .icon .icon__group {
    stroke-width: var(--accordion-icon-stroke-width);
}

.accordion__icon-arrow .icon__group,
.accordion__icon-arrow-v2 .icon__group,
.accordion__icon-plus .icon__group {
    will-change: transform;
    transform-origin: 50% 50%;
}

.accordion__icon-arrow .icon__group > * {
    transform-origin: 10px 14px;
}

.accordion__icon-arrow-v2 .icon__group > * {
    transform-origin: 50% 50%;
    stroke-dasharray: 20;
    transform: translateY(4px);
}
.accordion__icon-arrow-v2 .icon__group > *:first-child {
    stroke-dashoffset: 10.15;
}
.accordion__icon-arrow-v2 .icon__group > *:last-child {
    stroke-dashoffset: 10.15;
}

.accordion__icon-plus .icon__group {
    transform: rotate(-90deg);
}
.accordion__icon-plus .icon__group > * {
    transform-origin: 50% 50%;
}
.accordion__icon-plus .icon__group > *:first-child {
    transform: rotate(-90deg);
}

.accordion__item--is-open > .accordion__header > .accordion__icon-arrow .icon__group { /* animated arrow icon */ }
.accordion__item--is-open > .accordion__header > .accordion__icon-arrow .icon__group > *:first-child {
    transform: translateY(-8px) rotate(-90deg);
}
.accordion__item--is-open > .accordion__header > .accordion__icon-arrow .icon__group > *:last-child {
    transform: translateY(-8px) rotate(90deg);
}
.accordion__item--is-open > .accordion__header > .accordion__icon-arrow-v2 .icon__group { /* animated arrow icon v2 */
    transform: rotate(-90deg);
}
.accordion__item--is-open > .accordion__header > .accordion__icon-arrow-v2 .icon__group > *:first-child, .accordion__item--is-open > .accordion__header > .accordion__icon-arrow-v2 .icon__group *:last-child {
    stroke-dashoffset: 0;
    transform: translateY(0px);
}
.accordion__item--is-open > .accordion__header > .accordion__icon-plus .icon__group { /* animated plus icon */
    transform: rotate(0);
}
.accordion__item--is-open > .accordion__header > .accordion__icon-plus .icon__group > *:first-child {
    transform: rotate(0);
}

.accordion__panel {
    display: none;
    will-change: height;
    transform: translateZ(0px);
}

.accordion__item--is-open > .accordion__panel {
    display: block;
}

/* animations */
.accordion[data-animation=on] .accordion__item--is-open .accordion__panel > * {
    animation: accordion-entry-animation 0.4s var(--ease-out);
}
.accordion[data-animation=on] .accordion__icon-arrow .icon__group,
.accordion[data-animation=on] .accordion__icon-arrow-v2 .icon__group,
.accordion[data-animation=on] .accordion__icon-plus .icon__group {
    transition: transform 0.3s var(--ease-out);
}
.accordion[data-animation=on] .accordion__icon-arrow .icon__group > *,
.accordion[data-animation=on] .accordion__icon-arrow-v2 .icon__group > *,
.accordion[data-animation=on] .accordion__icon-plus .icon__group > * {
    transition: transform 0.3s, stroke-dashoffset 0.3s;
    transition-timing-function: var(--ease-out);
}

@keyframes accordion-entry-animation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* -------------------------------- 

File#: _2_accordion-v2
Title: Accordion v2
Descr: Stacked, expandable content sections
Usage: codyhouse.co/license

-------------------------------- */
:root {
    --accordion-v2-icon-size: 20px;
    --accordion-v2-icon-stroke-width: 2px;
}

.accordion-v2__item {
    background-color: var(--color-bg-light);
    box-shadow: var(--inner-glow-top), var(--shadow-sm);
    border-radius: var(--radius-md);
    transition: 0.3s;
}
.accordion-v2__item:hover {
    box-shadow: var(--inner-glow-top), var(--shadow-md);
}

.accordion-v2__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
}
.accordion-v2__header .icon {
    --size: var(--accordion-v2-icon-size);
}
.accordion-v2__header .icon .icon__group {
    stroke-width: var(--accordion-v2-icon-stroke-width);
}

.accordion-v2__icon-arrow .icon__group {
    will-change: transform;
    transform-origin: 50% 50%;
}
.accordion-v2__icon-arrow .icon__group > * {
    transform-origin: 50% 50%;
    stroke-dasharray: 20;
    transform: translateY(4px);
}
.accordion-v2__icon-arrow .icon__group > *:first-child {
    stroke-dashoffset: 10.15;
}
.accordion-v2__icon-arrow .icon__group > *:last-child {
    stroke-dashoffset: 10.15;
}

.accordion-v2__item--is-open > .accordion-v2__header > .accordion-v2__icon-arrow .icon__group {
    transform: rotate(-90deg);
}
.accordion-v2__item--is-open > .accordion-v2__header > .accordion-v2__icon-arrow .icon__group > *:first-child, .accordion-v2__item--is-open > .accordion-v2__header > .accordion-v2__icon-arrow .icon__group *:last-child {
    stroke-dashoffset: 0;
    transform: translateY(0px);
}

.accordion-v2__panel {
    display: none;
    will-change: height;
    transform: translateZ(0px);
}

.accordion-v2__item--is-open > .accordion-v2__panel {
    display: block;
}

.accordion-v2[data-animation=on] .accordion-v2__item--is-open .accordion-v2__panel > * {
    animation: accordion-v2-entry-animation 0.4s var(--ease-out);
}
.accordion-v2[data-animation=on] .accordion-v2__icon-arrow .icon__group {
    transition: transform 0.3s var(--ease-out);
}
.accordion-v2[data-animation=on] .accordion-v2__icon-arrow .icon__group > * {
    transition: transform 0.3s, stroke-dashoffset 0.3s;
    transition-timing-function: var(--ease-out);
}

@keyframes accordion-v2-entry-animation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* -------------------------------- 

File#: _1_back-to-top
Title: Back to top
Descr: Component that triggers scroll-y to the top of the page
Usage: codyhouse.co/license

-------------------------------- */
.back-to-top {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    display: flex;
    position: fixed;
    right: var(--space-md);
    bottom: var(--space-md);
    z-index: var(--z-index-fixed-element, 10);
    border-radius: 50%;
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.9);
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
}
.back-to-top:hover {
    background-color: var(--color-contrast-higher);
}
.back-to-top .icon {
    --size: 20px;
    display: block;
    margin: auto;
    color: var(--color-bg);
}

.back-to-top--is-visible {
    visibility: visible;
    opacity: 1;
}