:root {
    --form-control-font-size: var(--text-sm);
    --form-control-padding-x: var(--space-xs);
    --form-control-padding-y: var(--space-2xs);
    --form-control-radius: 0.5rem;
}

.form-control {
    background: var(--color-bg-dark);
    cursor: auto;
    font-family: var(--font-primary);
    text-transform: lowercase;
    text-decoration: none;
    line-height: 1.2;
    @include fontSmooth;
    box-shadow: inset 0px 0px 0px 1px var(--color-contrast-lower);
    outline: none;
    transition: all 0.2s ease;
}

.form-control::placeholder {
    opacity: 1;
    color: var(--color-contrast-low);
}

.form-control:focus, .form-control:focus-within {
    background: var(--color-bg);
    box-shadow: inset 0px 0px 0px 1px alpha(var(--color-contrast-lower), 0), 0px 0px 0px 2px var(--color-primary), var(--shadow-sm);
    outline: none;
}

.form-control--disabled, .form-control[disabled], .form-control[readonly] {
    opacity: 0.5;
    cursor: not-allowed;
}

.form-control[aria-invalid="true"], .form-control.form-control--error {
    box-shadow: inset 0px 0px 0px 1px alpha(var(--color-contrast-lower), 0), 0px 0px 0px 2px var(--color-error);
}

.form-control:focus, .form-control:focus-within {
    box-shadow: inset 0px 0px 0px 1px alpha(var(--color-contrast-lower), 0), 0px 0px 0px 2px var(--color-error), var(--shadow-sm);
}

.form-legend {
    font-family: var(--font-header);
    font-size: var(--text-md);
    text-transform: capitalize;
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.form-label {
    font-family: var(--font-primary);
    font-size: inherit;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.5px;
}